section{
  align-items: center;
} 
img{
  width: 76%;
}
img:hover{
 width: 85%; 
 transition-duration: 1.0s;
}
 body{
   background:linear-gradient(to right, rgb(16, 5, 63),rgba(247, 41, 178, 0.507)); ;
   color: #fff;
 } 
  div{
  width: 300px; 
padding-right:8px;
display: inline-block;
margin:0 auto;

} 
p{
   font-size: 20px;
   position: static;
} 
nav{
   display:  inline-block;
   margin:4px;
  padding: 20px 17px 13px 148px;
 }
 nav>a{
  background:rgba(0,0,0, 0.50);
  padding: 12px 90px 10px 70px;
font-family: 'Courier New', Courier, monospace;
  color: white;
  text-decoration: none;
 }
.teste{

   border: none;
   text-decoration: none;
   cursor: pointer;
   transition: background 1s;
} 
.teste:hover{
   background: #fff;
   color: #000000;
} 
.teste:active{
   color: #000000;
   background: rgb(71, 38, 102) ;
   transition: background 6s ;
} 
 

@media( max-width: 720px){
  
  
  body{
    color: pink;
    width:600px; 
  }

section{
  display:inline-flex;
  
} 
 section>div>p{
  font-size: 18px;
}  

div>p{
  font-size: 1.9vh;
}
 
body>div>h3{
  font-size: 1.9vh;
}
body{
  width: 492px;
}

}




